.projects {
  padding: 150px 0;
}

.projects__title {
  margin-bottom: 40px;
  font-size: 55px;
}

.project-item {
  position: relative;
  
}



.project-item__description {
  position: absolute;
  top: 0;
}